/* IMPORTED FONTS
–––––––––––––––––––––––––––––––––––––––––––––––––– */

@import url("https://fonts.googleapis.com/css2?family=M+PLUS+Rounded+1c:wght@100;400;800&display=swap");

/* RESET STYLES
–––––––––––––––––––––––––––––––––––––––––––––––––– */

:root {
  --bg-main: #40ceee;
  --bg-info: #ebeb8f;
  --btn-main: #2e6471;
  --btn-hover: #25515c;
  --text-light: #d5e9ee;
  --text-med: #0c6d85;
  --text-dark: #173239;
  --accent-1: #fa7602;
  --accent-2: #7603e9;

  --ff-main: "M PLUS Rounded 1c", sans-serif;
  --ff-thin: 100;
  --ff-regular: 400;
  --ff-bold: 800;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  color: inherit;
  text-decoration: underline;
}

button {
  cursor: pointer;
}

button,
input {
  border: none;
  background: none;
  outline: none;
  color: inherit;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}
ul {
  list-style: none;
}

body {
  font: 1rem/1 "M PLUS Rounded 1c", sans-serif;
  background-color: var(--bg-main);
  color: var(--text-med);
}

/* SECTION #1 - KEY
–––––––––––––––––––––––––––––––––––––––––––––––––– */

.api-information {
  margin: 0;
  padding: 5%;
  color: var(--text-dark);
  font-size: 0.8rem;
  line-height: 1.2;
  background-color: var(--bg-info);
}

#api-form,
#search-form {
  margin-top: 0.5rem;
}

#input-key,
#input-city {
  border-bottom: var(--text-dark) 1px solid;
  width: 100%;
  margin-top: 0.5rem;
  font-size: 1rem;
  font-weight: var(--ff-bold);
  text-align: center;
}

::-webkit-input-placeholder {
  font-weight: var(--ff-thin);
  font-style: italic;
}
:-moz-placeholder {
  font-weight: var(--ff-thin);
  font-style: italic;
}
::-moz-placeholder {
  font-weight: var(--ff-thin);
  font-style: italic;
}
:-ms-input-placeholder {
  font-weight: var(--ff-thin);
  font-style: italic;
}

#submitbtn,
#searchbtn {
  width: 100%;
  background-color: var(--btn-main);
  color: var(--text-light);
  text-align: center;
  padding: 0.3rem;
  margin-top: 1rem;
  margin-bottom: 1  rem;
  border-radius: 1rem;
}

/* MAIN
–––––––––––––––––––––––––––––––––––––––––––––––––– */

main {
  padding: 5%;
}
h1 {
  margin: 0.8rem 0;
  color: white;
  text-shadow: 0.2rem 0.2rem var(--text-med);
}
.message{
  margin-top:1rem;
}

/* SECTION #2 - AJAX
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.ajax-section {
  margin-bottom: 1rem;
}
.grid-container{
  display: grid;
  grid-template-columns: 1fr;
  justify-content: center;
  align-items: center;
}

.grid-item{
  display: flex;
  justify-content: center;
}

.result-card {
  background-color: white;
  border: var(--text-med) 3px solid;
  width: 13rem;
  height: 14.5rem;
  margin: 1rem;
  padding: 1rem;
  border-radius: 1rem;
}

.sup-city {
  font-family: var(--ff-main);
  font-weight: var(--ff-bold);
  font-size: 0.6rem;
  color: white;
  padding: 0.2rem 0.3rem;
  margin-left: 0.3rem;
  background-color: var(--accent-1);
  border: transparent;
  border-radius: 0.4rem;
}

.city-temp {
  margin-top: 0.6rem;
}
.result-card p {
  margin-top: 1rem;
}
.result-card:hover {
  scale: 120%;
}


/* FOOTER
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.footer-container {
  display: flex;
  align-items: center;
  flex-direction: column;
}
.footer-container > p,
.footer-container > a {
  font-size: 0.6rem;
  text-align: center;
  line-height: 1.2;
  margin: 0.2rem;
}

/* MEDIAQUERIES
–––––––––––––––––––––––––––––––––––––––––––––––––– */

@media (min-width:450px) {
  .grid-container{
    grid-template-columns: 1fr 1fr;
  }
}

@media (min-width:750px) {
  .grid-container{
    grid-template-columns: repeat(3, 1fr);
  }
  .api-information,
  main{
    text-align: center;
  }
  #submitbtn,
#searchbtn{
  width: 50%;
  margin-left: 25%;
  margin-right: 25%;
}
#input-key,
#input-city{
  width: 50%;
  margin-left: 25%;
  margin-right: 25%;
}
::-webkit-input-placeholder {
  text-align: center;
}
:-moz-placeholder {
  text-align: center;
}
::-moz-placeholder {
  text-align: center;
}
:-ms-input-placeholder {
  text-align: center;
}
}
@media (min-width:800px) {
  h1{
    font-size: 2.5rem;
  }
  #searchbtn,
  #submitbtn,
  .api-information,
  main{
    font-size: 1.2rem;
  }
  #input-key,
#input-city{
  font-size: 1.2rem;
}
.footer-container > p,
.footer-container > a{
  font-size: 1rem;
}
}


@media (min-width:1000px) {
  .grid-container{
    grid-template-columns: repeat(4, 1fr);
  }
}
